.value{
 user-select: none;
 margin: 0;
 font-weight: bold;
}

.contextMenu{
    width: auto;
    position: absolute;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #e1ac5c;
    padding: 10px;

}

.infoWrapper{
    margin-top: 10px;
    width: 100%;
    display: grid;
    align-content: stretch;
    grid-template-columns: max-content max-content;
    justify-items: start;
    justify-content: center;
    column-gap: 15px;
}


.infoWrapperBasic p{
 margin: 0;
}

.infoWrapper p{
 margin: 0;
}

#ctxImg{
    width: 50px;
    height: 50px;
    background-color: rgb(78, 78, 52, 0.3);
    border-radius: 10px;
    padding: 10px;
}

.ctxWrapper{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#iaipai{
 margin-top: 120px;
 position: absolute;
 width: 50px;
 margin-left: 700px;
}

#iaipai:hover{
 cursor: url('../Imagens/cursores/dedoMeio.PNG'), auto;
}

#entraDeposito{
 font-size: 20px;
 position: absolute;
 margin-left: 800px;
 margin-top: 200px;
}

#entraDeposito:hover{
 font-size: 25px;
 cursor: pointer;
}

#dropIconFarm{
 float: right;
 padding-right: 5px;
}

#dropIconFarm:hover{
 cursor: url('../Imagens/cursores/pointer.png'), auto;
}

.pragaLarva{
 display: none;
 position: absolute;
 margin-left: -121px;
 margin-top: -114px;
}

#menuFarmBack{
 position: absolute;
 background-image: url('../Imagens/fazenda/menuBackground.JPG');
 background-repeat:no-repeat;
 width: 960px;
 height: 160px;
 margin-top: 480px;

}


#estacaotxt{
 font-family: cursive;
}


.exp{
 color: #a447a5;
}

#info{
    width: 960px;
    background-color: #d39d4b;
    z-index: 1;
    position: absolute;
    height: 30px;
    border-bottom: 4px solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.infoItemsWrapper{
    display: flex;
    width: 10%;
    justify-content: space-evenly;
}

.infoItems{
 display: flex;
 align-items: center;
}